@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-nunito text-black;
  }
  html,
  body {
    @apply h-full;
  }
}

@layer utilities {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.icons {
  @apply h-6 w-6;
}

.nuxt-icon {
  @apply !m-0;
}
